.shopping-list-container {
  font-family: 'Arial', sans-serif;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #ffe1ed;
  border: 2px solid #ecbad0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.list-name {
  color: #843c54;
  margin-bottom: 10px;
  cursor: pointer;
}

.owner {
  font-size: 0.9em;
  color: #666;
}

.members-section,
.items-section {
  margin-bottom: 30px;
}

.members-list,
.items-list {
  list-style: none;
  padding: 0;
}

.member-item,
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #ecbad0;
}

.member-item:last-child,
.item:last-child {
  border-bottom: none;
}

.leave-button,
.add-item-button {
  background-color: #843c54;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.item-actions,
.member-actions {
  display: flex;
}

.edit-item-button,
.remove-item-button,
.remove-member-button {
  background-color: #c78ca0;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.edit-item-button {
  background-color: #c78ca0;
}

.filter {
  margin-bottom: 10px;
  text-align: left;
  color: #c78ca0;
}

.filter select {
  padding: 5px;
  border: 1px solid #c78ca0;
  border-radius: 5px;
  color: #c78ca0;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.save-button,
.cancel-button {
  background-color: #c78ca0;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.add-member-field, 
.add-item-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.add-member-field input,
.add-item-field input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.back-to-overview-button {
  background-color: #843c54;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
}

button {
  border: 1px solid #843c54;
}